@use "./apple.scss";
@use "./basket.scss";
@use "./shake-button.scss";
@use "./tree.scss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets/village.jpeg") ;
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  padding: 0;
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
